{% extends 'base.html' %}{% block content %} {% if object %}
<h1>Edit {{object.name}}'s info</h1>
{% else %}
<h1>Add A New Song</h1>
{% endif %}

<form action="" method="POST">
  <!-- special token genrated by django -->
  {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
  <input
    class="waves-effect waves-light btn-small"
    type="submit"
    value="{% if object %} Edit {% else %} Add {% endif %}"
  />
  {% if object %}
  <a
    class="waves-effect waves-light btn-small red"
    href="{% url 'detail' object.id %}"
    >Cancel</a
  >
  {% else %}
  <a class="waves-effect btn-small red" href="{% url 'home' %}">Cancel</a>
  {% endif %}
</form>

{% endblock %}
