{% extends 'base.html' %}{% block content %}
<h1>Song Detail</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ song.name }}</span>
        <p>Artist: {{ song.artist }}</p>
        <p>Genre: {{ song.genre }}</p>
        {% if song.date < 2021 %}
        <p>Released: {{ song.date }}</p>
        {% else %}
        <p>Released: New</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'songs_update' song.id %}">Edit</a>
        <a href="{% url 'songs_delete' song.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_playback' song.id %}" method="POST">
      {% csrf_token %} {{playback_form.as_p}}
      <input
        type="submit"
        value="Add Playback"
        class="waves-effect waves-light btn-small"
      />
    </form>
    <br />
    {% if song.playback_for_today %}
    <div class="card-panel teal-text center-align">
      {{song.name}} has been played all day!
    </div>
    {% else %}
    <div class="card-panel red-text center-align">
      {{song.name}} has not been played once today!
    </div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Playback</th>
        </tr>
      </thead>
      <tbody>
        {% for playback in song.playback_set.all %}
        <tr>
          <td>{{playback.time}}</td>
          <td>{{playback.get_play_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr />

<div class="row">
  <div class="col s6">
    <h4>Categories</h4>
    {% if song.categories.count %} {% for category in song.categories.all %}
    <div class="card">
      <div class="card-content">
        <span class="crad-title">
          You
          <span class="{{category.color.lower}}-text">{{category.name}}d</span>
          {{song.name}}
        </span>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No available categories at the time</p>
    {% endif %}
  </div>
  <div class="col s6">
    <h4>Available Categories</h4>
    {% if categories.count %} {% for category in categories %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span class="{{category.color.low}}-text">{{category.name}}</span>
        </span>
      </div>
      <div class="card-action">
        <form action="" method="POST">
          {% csrf_token %}
          <button
            type="submit"
            class="waves-effect waves-light btn green lighten-1 btn-small"
          >
            Add
          </button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>{{song.name}} has all available categories</p>
    {% endif %}
  </div>
</div>

{% endblock%}
